<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Default Inputs</nb-card-header>
        <nb-card-body>
        
          <input type="text" [(ngModel)]="name" name="name" nbInput fullWidth placeholder="Project">
          <div class="full-name-inputs">
            <input type="text" fullWidth placeholder="Nick">
            <input type="text" nbInput fullWidth placeholder="Last Name">
          </div>
          <input type="password" nbInput fullWidth placeholder="Password">
          <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
          <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
          <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
          <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
          <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
          <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
          <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">
        
        </nb-card-body>
      </nb-card>
    </div>
  </div>

<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>{{ name }}</nb-card-header>
        <nb-card-body>
          <ngx-echarts-pie></ngx-echarts-pie>
        </nb-card-body>
      </nb-card>
    </div>
</div>